<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a
    class="navbar-brand"
    style="font-family: 'Chakra Petch', Helvetica, sans-serif;"
    href="/"
  >
    >Glist<span class="caret">
      <img
        src="/images/icon_coin.png"
        alt="Sua lista de jogos portátil!"
        class="icon-caret"
      />
    </span>
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Cadastrar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/games/search">Buscar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/games/listgames">Minha Lista</a>
      </li>
    </ul>
  </div>
</nav>