/* Estilos gerais */
body {
  background-image: url("../images/background1.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
}

/* Container principal */
.container {
  color: white;
  backdrop-filter: blur(5px);
  background-color: rgba(45, 50, 59, 0.5);
  border-radius: 5px;
  padding: 20px;
}

/* Card container e scrollbar personalizado */
.card-container {
  height: 23em;
  padding: 1em;
  overflow-x: hidden;
  overflow-y: scroll;
}

.card-container::-webkit-scrollbar {
  width: 0.5em;
}

.card-container::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}

.card-container::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.8);
}

.card-container::-webkit-scrollbar-thumb:hover {
  background-color: rgba(106, 90, 205, 1);
}

/* Estilo dos cards */
.card {
  opacity: 0.8;
  transition: transform 0.3s ease;
  transform: scale(1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 5px;
  /* Alinhe o raio do card aqui */
  overflow: hidden;
  /* Garante que nada transborde o card */
}

.card:hover {
  opacity: 1;
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(255, 255, 255, 1);
}

.card:hover,
img {
  opacity: 1;
}

/* Corpo dos cards */
.card-body {
  padding: 10px;
  height: 190px;
  /* Ajuste conforme necessário */
  overflow: hidden;
}

/* Estilo das imagens sem borda */
.card-img,
.card-img-top,
.card-img-bottom {
  border-radius: 0;
  /* Remove qualquer borda arredondada */
}

/* Ajuste da imagem no card */
.card-img {
  opacity: 1;
  /* Ajustado para garantir total visibilidade */
  width: 100%;
  /* Faz a imagem ocupar toda a largura do card */
  height: 190px;
  /* Faz a imagem ocupar toda a altura do card */
  object-fit: cover;
  /* Corta a imagem mantendo as proporções */
  display: block;
  /* Remove espaços em branco ao redor da imagem */
}

/* Ajustes no layout */
.col-md-4 {
  padding: 0;
  /* Remove espaços nas laterais da coluna da imagem */
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
  /* Remove espaçamentos internos do grid */
}

.card-title {
  padding: 0;
  white-space: nowrap;
  /* Não permite quebra de linha */
  overflow: hidden;
  /* Esconde o conteúdo que ultrapassa o contêiner */
  text-overflow: ellipsis;
  /* Adiciona "..." no final */
  width: 80vw;
  /* Define uma largura fixa */
  max-width: 18.75rem;
}

/* Animação de fade out */
.fade-out {
  animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

#suggestions {
  position: absolute;
  /* Para posicionar corretamente as sugestões */
  width: auto;
  max-height: 200px;
  z-index: 1000;
  overflow-y: auto;
}

.suggestion-item {
  color: grey;
  border-bottom: 1px solid #ccc;
  /* Borda para separar as sugestões */
  background-color: white;
  /* Fundo branco */
  transition: background-color 0.5s;
  /* Transição suave para a cor de fundo */
}

.suggestion-item:hover {
  background-color: #d9dee4;
  /* Destaque ao passar o mouse */
  cursor: pointer;
  /* Adiciona um cursor pointer */
}

/* Comentado - Botão de deletar estilizado */
/*
  .trash {
    font-size: 25px;
    opacity: 0.8;
    text-decoration: none;
    display: inline-block;
    margin-left: 6em;
    transition: transform 0.3s ease;
    transform: scale(1);
    transform: rotate(0deg);
  }

  .trash:hover {
    opacity: 1;
    text-decoration: none;
    transform: rotate(-25deg);
  }

  .trash:focus {
    outline: none;
    box-shadow: none;
  }
*/