body {
  background-image: url("../images/background1.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
}

.card-container::-webkit-scrollbar {
  width: 0.5em; /* Largura da scrollbar */
}

.card-container::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1); /* Cor do fundo da scrollbar */
}

.card-container::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.8); /* Cor da parte que desliza */
}

.card-container::-webkit-scrollbar-thumb:hover {
  background-color: rgba(106, 90, 205, 1); /* Cor ao passar o mouse */
}

.container {
  color: white;
  backdrop-filter: blur(5px); 
  background-color: rgba(45, 50, 59, 0.5);
  border-radius: 5px;
  padding: 20px; 
}

.card-container {
  height: 23em;
  padding: 2em;
  overflow-x: hidden;
  overflow-y: scroll;
}

.trash {
  font-size: 25px;
  opacity: 0.8;
  text-decoration: none;
  display: inline-block;
  margin-left: 6em;
  transition: transform 0.3s ease;
  transform: scale(1);
  transform: rotate(0deg);
}

.trash:hover {
  opacity: 1;
  text-decoration: none;
  transform: rotate(-25deg);
}

.trash:focus {
  /* Bug corrigido: a borda não aparece mais, após clicar no ícone de lixeira */
    outline: none; 
    box-shadow: none; 
}

.card {
  opacity: 0.8;
  transition: transform 0.3s ease;
  transform: scale(1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.card:hover {
  opacity: 1;
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(255, 255, 255, 1);
}

.card-body {
  width: auto;
  height: 230px;
}

.fade-out {
    animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}
